p{
  margin: 0;
  padding: 0;
}


#Container-inicialHome {
  width: 100%;
  height: 40.625rem;
  background-image: url("../img/Produtos Textil de fundo Texport.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.textoChamtivo {
  width: 30rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.textoH1 {
  width: 100%; 
  height: auto;
}

.textoH1 h1 {
  font-size: 4.9em;
  color: white;
}

.textoH1 p {
  font-size: 2em;
  color: white;
}

.textoH5 {
  width: 100%; 
  height: auto;

  font-size: 1.2em;
  color: white;
}

.btn-vejaProdutos {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  margin: 1rem;

  background-color: #a47e43;
  color: white;
  border: 0.125rem solid #a47e43;
  border-radius: 0.25rem;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-vejaProdutos:hover {
  background-color: transparent;
  color: #a47e43;

  transform: translateY(0.0625rem);
}